# scanpy
scanpy[leiden]==1.9.1
louvain==0.7.1
# Fast TSNE implementation.
MulticoreTSNE==0.1
# Parameterizing, executing, and analyzing Jupyter Notebooks.
papermill==2.3.4
# IPython kernel.
ipykernel==6.15.1
