ctxcore>=0.2.0
cytoolz
multiprocessing_on_dill
llvmlite
numba>=0.51.2
attrs
frozendict
numpy
pandas>=1.3.5
numexpr
cloudpickle
dask
distributed
arboreto>=0.1.6
boltons
setuptools
pyyaml
tqdm
interlap
umap-learn
loompy
networkx
scipy
fsspec
requests
aiohttp
scikit-learn>=0.22.2
